/* Font*/
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/* Base styles*/
body{
    font-family: 'Patrick Hand', cursive;
    margin: 0;
}
header {
    background-color: #A4C2C4;
    width: auto;
    height: 250px;
    border-top: 0;
    border-bottom-left-radius: 5000px;
    border-bottom-right-radius: 5000px;
}
h1{
    display: inline-block;
    position: relative;
    padding-left: 70px;
    padding-bottom: 450px;
    z-index: 1;
    font-size: 20px;   
}
.logo {
    display: inline-block;
    position: relative;
    max-width: 200px;
    max-height: 280px;
    z-index: 1;
}
video {
    display: block;
    position: relative;
    width: 100%;
    z-index: 0;
     }

/*Main*/

.buyapp {
    display: inline-block;
    position: relative;
    padding-top: 100px;
    padding-left: 200px;
}


/* Desktop styles */
@media screen and (min-width: 1280px)
{
h1{
    display: flex;
    position: relative;
    font-size: 35px;
    
        
    }
.logo {
    position: relative;
    max-width:300px;
    max-height: 280px;
    padding-left: 40px;
    padding-bottom: 450px;
    z-index: 1;
    }
video {
    position: relative;
    width: 1000px;
    height: auto;
    z-index: 0;
    }
    /*Main*/
.buyapp {
    display: inline-block;
    justify-content: center;
    padding-top: 600px;
    padding-left: 200px;
}
}